<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dqtech.puzzle_for_fun">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FlashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".Registration"></activity>
        <activity android:name=".Home"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Computer"></activity>
        <activity android:name=".Second"></activity>
        <activity android:name=".Thrid"></activity>
        <activity android:name=".Fourth"></activity>
        <activity android:name=".Five"></activity>
        <activity android:name=".Six"></activity>
        <activity android:name=".Seven"></activity>
        <activity android:name=".Eight"></activity>
        <activity android:name=".Nine"></activity>
        <activity android:name=".Ten"></activity>
        <activity android:name=".Digital1"></activity>
        <activity android:name=".Digital2"></activity>
        <activity android:name=".Digital3"></activity>
        <activity android:name=".Digital4"></activity>
        <activity android:name=".Digital5"></activity>
        <activity android:name=".Digital6"></activity>
        <activity android:name=".Digital7"></activity>
        <activity android:name=".Digital8"></activity>
        <activity android:name=".Digital9"></activity>
        <activity android:name=".Digital10"></activity>




    </application>

</manifest>